<!DOCTYPE html>
<html>
<head>
	<title>Deepansh's Store</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style type="text/css">
		form{
			padding: 10px;
			padding-top: 50px;
		}
		body{
			color: white;
			background-color: #4682b4;
		}
		small{
			color: white;
			text-decoration: underline;
		}
	</style>
</head>
<body>



	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">DEEPANSH'S STORE</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active active">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/buy/filter">Buy</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/sell">Sell</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/contact">Contact us</a>
	      </li>
	    </ul>
	    <ul class="navbar-nav ml-auto">
	    	<% if(!currentUser){ %>
	    		<!-- <li class="nav-item active">
	      			<a class="nav-link" href="/register">Register</a>
	    		</li> -->
	    		<li class="nav-item active">
	      			<a class="nav-link" href="/login">Login</a>
	    		</li>
    		<% }else{%>
	    		<li class="nav-item active">
	      			<a class="nav-link" href="/logout">Logout</a>
	    		</li>
	    		<li class="nav-item active">
	      			<a class="nav-link" href="/newProduct">New product</a>
	    		</li>
    		<% }%>
    	</ul>
	  </div>
	</nav>


	<div>
		<div class="container">
			<form action="/newProduct" method="POST">
			  <legend>DESCRIBE YOUR PRODUCT</legend>
			  <div class="form-group">
			    <label for="category" >Category</label>
			    <!-- <input type="text" class="form-control" id="category" aria-describedby="emailHelp" placeholder="Category" name="category" > -->
			    <!-- <div class="dropdown" name="category"> -->
			    	<!-- <button type="button" class="btn btn-secondary dropdown-toggle" value="category" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> -->
			    	<select name="category" class="form-control" id="categorySelected">
			    		<option >Pick a category!</option>
			    		<% for(var i=0;i<categories.length;i++){ %>
			    		<option><%=categories[i].name %></option>
			    		<% }%>
			    	</select>
			  </div>


			  <div class="form-group">
			  	<label for="choice">What would you like to do?</label>
			  	<select name="choice" class="form-control" id="choosen">
			  		<option >Pick one of these!</option>
			  		<option value="1">Add features in existing subcategory</option>
			  		<option value="2">Add new Subcategory</option>
			  	</select>
			  </div>

			  <div class="form-group row choices" id="choice2">
			  	<div class="col">
				    <label for="subcategory">New subcategory</label>
				    <input type="text" class="form-control" id="title" placeholder="New subcategory" name="subcategoryName" >
			    </div>
			    <!-- <div class="col">
				    <label for="description">Discription</label>
				    <input type="text" class="form-control" id="title" placeholder="Description" name="description[]" >
			    </div> -->
			  </div>

			  <div class="form-group choices" id="choice1">
			    <label for="subcategory">Sub-category</label>
			    
			    <select name="subcategory" class="form-control" >
			    	<option >Pick a subcategory!</option>
			    <% for(var i=0;i<categories.length;i++){ %>
			    <% for(var j=0;j<categories[i].subcategories.length;j++){%>
			    
			    <option  class="subcategorySelected <%=categories[i].name.split(' ')[0]%>">
			    	<%=categories[i].subcategories[j].name%>
			    </option>
				
			    <%}%>
			    <%}%>
			    </select>
			  </div>
			  <!-- <div class="form-group">
			    <label for="name">Name</label>
			    <input type="text" class="form-control" id="name" placeholder="Name" name="name" >
			  </div>
			  <div class="form-group">
			    <label for="price">Price(in $)</label>
			    <input type="number" class="form-control" id="price" placeholder="Price(in $)" name="price" >
			  </div>
			  <div class="form-group">
			    <label for="img" >Image(URL)</label>
			    <input type="text" class="form-control" id="img" aria-describedby="emailHelp" placeholder="Image" name="image">
			  </div> -->
			  <div class="form-group">
			  	<div class="row">
			  	<div class="col">
				    <label for="feature">Feature</label>
				    <input type="text" class="form-control" id="title" placeholder="feature" name="feature[]" >
			    </div>
			    <div class="col">
			    	<label for="answer1">Description</label>
			    	<input type="text" class="form-control" id="answer1" placeholder="description" name="answer[]" >
				    <p>Different options should be seperated by commas. Eg:colour(feature) => black,white(description)</p>
				</div>
				</div>
			    <!-- <div class="col">
				    <label for="description">Discription</label>
				    <input type="text" class="form-control" id="title" placeholder="Description" name="description[]" >
			    </div> -->
			  </div>
			  <a href="#" id="thisone"><small id="emailHelp" class="form-text ">Add feature...</small></a>
			   <div class="form-group">
			  	<label for="subcategoryDisplay">Sub-category features' display</label>
			    <select name="subcategoryDisplay" class="form-control" >
			    	<option value="Dropdown">Dropdown</option>
			    	<option value="Checkbox">Checkbox</option>
			    	<option value="Radio buttons">Radio buttons</option>
			    </select>
			  </div>
			  <br>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="/js/newProduct.js"></script>
	<script type="text/javascript" src="/js/sell1.js"></script>
	<!-- <script type="text/javascript" src="/js/sell.js"></script> -->
</body>
</html>


